/* 선수 기본 스타일 */
.player {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("RUNNER.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 5%; /* 스타트 라인 */
  top: 50%; /* 레인 높이의 중앙 */
  transform: translateY(-50%); /* 정확히 중앙 정렬 */
}

/* 플레이어 (1번 레인 고정) */
.player.main {
  filter: drop-shadow(0 0 5px red);
}

/* 상대 선수들 */
.player.opponent {
  filter: drop-shadow(0 0 5px green);
}
